@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>List of Applications</p>
    <div class="row">
        <ul>
            @foreach (var appName in Model)
            {
                <li>@appName</li>
            }
        </ul>
    </div>
</div>
